[tool.poetry]
name = "ruyi"
version = "0.6.0-alpha.20240229"
description = "Package manager for RuyiSDK"
keywords = ["ruyi", "ruyisdk"]
# license = { file = "LICENSE-Apache.txt" }
license = "Apache-2.0"
readme = "README.md"
authors = [
  # { name = "WANG Xuerui", email = "wangxuerui@iscas.ac.cn" }
  "WANG Xuerui <wangxuerui@iscas.ac.cn>",
]
include = ["ruyi/py.typed"]

#requires-python = ">=3.11"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


[tool.black]
target-version = ['py311']


[tool.mypy]
files = ["ruyi"]
show_error_codes = true
strict = true
enable_error_code = ["ignore-without-code", "redundant-expr", "truthy-bool"]

# https://github.com/eyeseast/python-frontmatter/issues/112
# https://github.com/python/mypy/issues/8545
# have to supply the typing info until upstream releases a new version with
# the py.typed marker included
mypy_path = "./stubs"


[tool.poetry.dependencies]
python = ">=3.11"

gitpython = "^3.1"
jinja2 = "^3"
python-frontmatter = "^1.0.1"
pyxdg = "^0.28"
rich = "^13.5"
semver = "^3"

types-pyxdg = "^0.28.0.20240106"

# build and dev
black = "^23.10.1"
imageio = {version = "^2.34.0", platform = "win32"}
nuitka = "^2.0"
