[Unit]
Description=Sync Ruyi releases with rsync

[Service]
Type=oneshot
# Change to actual values before use
ExecStart=/path/to/venv/bin/python /path/to/ruyi/scripts/release-worker/sync-releases.py
Environment="RUYI_RELEASE_WORKER_RSYNC_STAGING_DIR=/opt/ruyi-tmp-rsync"
Environment="RUYI_RELEASE_WORKER_RSYNC_REMOTE_URL=rsync://user@hostname.example/ruyisdk/ruyi"
Environment="RUYI_RELEASE_WORKER_RSYNC_REMOTE_PASS=password"
